.holder{
    background: black;
    display:flex;
    column-gap: 2px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.item{

    height:100px;
    width:100px;

}
.item1{

    background-color: aqua;
    
    order:3;

}
.item2{

    background-color: pink;
    
    order:4;

}
.item3{

    background-color: violet;
    
    order:4;

}